# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Chant\Documents\#IDE_EIndhoven_master\M21 Semester\Legal Project - Chantal File\traditionalcontract\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
